<div class='header'>
  <div class='brand'>
    <div class='logo'></div>
    <a href='{{ site.baseurl }}/#'>
      <div class='site-name'>{{ site.name }}</div>
      <img class='site-logo' src='{{ site.baseurl }}/assets/images/logos/site-logo.svg'>
    </a>
  </div>
  {% if include.breadcrumb %}
    {% include breadcrumb.html breadcrumb=include.breadcrumb %}
  {% endif %}
  <div class='links'>
    {%- if site.data.authors.size > 1 -%}
    <a href='{{ site.baseurl }}/texts'>Authors</a>
    {%- endif -%}
    <a href='{{ site.baseurl }}/downloads'>Downloads</a>
    <a href='{{ site.baseurl }}/about'>About</a>
  </div>
</div>