---
process: true
---

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Open Sans';
  color: #222;
}

/**
* Elements
**/

h1 {
  font-family: 'Rokkitt';
  font-size: 36px;
  text-align: center;
  margin: 70px 0 15px;
}

a {
  text-decoration: none;
  display: inline-block;
}

sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

sub {
  top: 0.4em;
}

select {
  font-size: 1em;
}

/**
* Images
**/

img {
  max-width: 100%;
}

.duotone {
  -webkit-filter: url(#duotone);
  filter: url(#duotone);
}

.grayscale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.background-image {
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/**
* Containers
**/

.container {
  padding-top: 60px;
  min-height: 100%;
  box-sizing: border-box;
  text-align: center;
  width: 800px;
  max-width: 100%;
  overflow: auto;
  margin: 0 auto -90px;
}

.container.print-page {
  margin: initial;
  margin-bottom: -90px;
  background-color: rgba(0,0,0,0.9);
  text-align: center;
  width: 100%;
}

.text-column {
  max-width: 750px;
  display: inline-block;
  margin: 0 20px;
}

.genetic-page.text-column,
.text-page.text-column {
  padding-bottom: 40px;
}

.card-container {
  padding-bottom: 40px;
  width: 785px;
  display: inline-block;
  text-align: left;
}

/**
* Footer
**/

.push,
.footer {
  height: 90px;
}

.footer {
  background: #676565;
  width: 100%;
  box-shadow: 0px 0.05em 0.3em rgba(0, 0, 0, 0.5);
  text-align: center;
  z-index: 10;
  position: relative;
}

.footer img.yale-wordmark {
  height: 50px;
  margin-top: 21px;
  display: inline-block;
}

/**
* Buttons
**/

.button {
  padding: 11px 30px;
  background: rgb({{ site.light }});
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  border-radius: 4px;
  color: #444;
  cursor: pointer;
}

/**
* Header
**/

.header {
  height: 60px;
  width: 100%;
  box-shadow: 0px 0.05em 0.3em rgba(0, 0, 0, 0.5);
  overflow: hidden;
  position: fixed;
  z-index: 1;
  top: 0;
  background: #fff;
}

.header .brand {
  display: inline-block;
  max-height: 100%;
}

.header .site-name {
  font-family: 'Special Elite';
  font-size: 27px;
  padding: 19px 0 19px 30px;
  display: inline-block;
  color: #444;
}

.header .site-logo {
  display: inline-block;
  top: 0px;
  width: 19px;
  left: -1px;
  position: relative;
}

.header .links {
  display: inline-block;
  float: right;
  margin: 17px 60px;
}

.header .links a {
  text-decoration: none;
  text-decoration: none;
  color: #444;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 0.05em;
  margin: 0 20px;
}

/**
* Breadcrumb
**/

.breadcrumb {
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  color: #666;
  margin-left: 20px;
}

.breadcrumb a {
  color: #666;
}

/**
* Hero
**/

.hero {
  overflow: hidden;
  position: absolute;
  top: 60px;
  right: 0;
  bottom: 90px;
  left: 0;
  text-align: center;
  background: url({{ site.baseurl }}/assets/images/manuscript-banner.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.hero .hero-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.65);
}

.hero .tagline {
  color: #fff;
  font-weight: 600;
  font-size: 32px;
  padding: 34vh 0 40px;
  text-align: center;
  font-family: 'Special Elite';
}

/**
* Authors page
**/

.authors-preface {
  text-align: left;
}

/**
* Author/Text page introductions
**/

.intro-image {
  width: 100%;
  padding-bottom: 44%;
  display: inline-block;
}

.intro-teaser {
  text-align: justify;
  display: inline-block;
  margin: 20px 0 5px;
}

/**
* Author page
**/

.author-page {
  width: 800px;
  display: inline-block;
}

.author-container {
  margin-bottom: 10px;
  width: 750px;
  display: inline-block;
}

/**
* Text page
**/

.text-page .text-cards {
  margin: 20px 0;
}

.text-page a.text-card {
  width: 31.5%;
  padding-bottom: 5%;
  background: #e4e3e3;
  display: inline-block;
  margin-right: 0.4%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.text-page .text-card:nth-of-type(3) {
  margin-right: 0;
}

.text-page .text-card-image {
  width: 40%;
  margin: 10% 0;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.7;
  transition: filter 0.3s, opacity 0.3s;
}

.text-page .text-card-label {
  position: absolute;
  z-index: 10;
  bottom: 0;
  width: 100%;
  background: rgba(0,0,0,0.25);
  padding: 10px;
  box-sizing: border-box;
  color: #fff;
  font-weight: 800;
  font-size: 16px;
  transition: color 0.3s, background 0.3s;
}

.text-page .text-card:hover img {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  opacity: 1;
}

.text-page .text-card:hover .text-card-label {
  color: rgb({{ site.light }});
  background: rgba(0,0,0,0.55);
}

/**
* Diplomatic page
**/

.diplomatic-page .page-content {
  display: block;
  position: absolute;
  top: 60px;
  right: 0;
  bottom: 70px;
  left: 0;
  height: auto;
  width: auto;
  background: rgba(0,0,0,0.9);
}

.diplomatic-page .page-image-container {
  width: 50%;
  display: inline-block;
  height: 100%;
  overflow: auto;
  padding: 50px 20px 50px 50px;
  box-sizing: border-box;
  text-align: right;
}

.diplomatic-page .page-image-container img {
  width: 100%;
  max-width: 700px;
}

.diplomatic-page .page-text-container {
  width: auto;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 50%;
  max-height: 100%;
  overflow: auto;
  text-align: left;
}

.diplomatic-page .page-text {
  display: inline-block;
  white-space: pre;
  padding: 50px 40px 30px;
  line-height: 1.7em;
  text-align: left;
  background-color: #f1f1f1;
  box-sizing: border-box;
  margin: 60px;
  font-family: 'Inconsolata', monospace;
  border-radius: 2px;
}

/**
* Diplomatic page footer
**/

.diplomatic-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: #f2f0f0;
  text-align: center;
  box-shadow: 0px -0.02em 0.3em rgba(0, 0, 0, 0.5);
}

.diplomatic-footer .witness-select {
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  left: 30px;
  top: 20px;
  padding-right: 30px;
}

/**
* Diplomatic footer pagination buttons
**/

.diplomatic-footer .page-buttons,
.diplomatic-footer .layout-buttons {
  display: inline-block;
  margin-top: 20px;
  border-radius: 3px;
}

.diplomatic-footer .page-buttons div {
  color: #000;
  display: inline-block;
  padding: 3px 0;
  cursor: pointer;
  border: 1px solid #b2b2b2;
  border-radius: 5px;
  font-size: 17px;
  background: linear-gradient(#d7d7d7, #d1d1d1);
  width: 28px;
}

.diplomatic-footer .page-button.page.active,
.diplomatic-footer .layout-button.active {
  background: #7f7f7f;
  color: #fff;
  border: 1px solid #686767;
}

.diplomatic-footer .page-button span {
  position: relative;
  top: -1px;
}

.diplomatic-footer .page-buttons .deactivated {
  cursor: default;
  pointer-events: none;
  opacity: 0.3;
}

/**
* Diplomatic page layout buttons
**/

.diplomatic-footer .layout-buttons {
  position: absolute;
  right: 30px;
}

.diplomatic-footer .layout-buttons .layout-button {
  display: inline-block;
  background-color: lightgray;
  padding: 6px 7px 0;
  cursor: pointer;
  margin-right: 3px;
  border-radius: 3px;
  border: 1px solid #b2b2b2;
}

.diplomatic-footer .layout-buttons span {
  display: inline-block;
  position: relative;
  top: -4px;
}

.diplomatic-footer .layout-button .layout-icon.white {
  display: none;
}

.diplomatic-footer .layout-button.active {
  background: #7f7f7f;
}

.diplomatic-footer .layout-button.active .layout-icon.white {
  display: inline-block;
}

.diplomatic-footer .layout-button.active .layout-icon.black {
  display: none;
}

.diplomatic-footer .layout-buttons .layout-icon {
  width: 18px;
}

/**
* Diplomatic markup helpers
**/

.margin-line {
  border-left: 2px solid #5e5e5e;
  margin-left: -5px;
  padding-left: 3px;
}

.pencil {
  color: #7b7771;
}

/**
* Genetic page
**/

.genetic-page .genetic-preface {
  text-align: justify;
}

.genetic-page .variant-text {
  text-align: left;
  margin: 20px 0;
  position: relative;
  border-right: 16px solid rgb({{ site.light }});
  background: #f5f5f5;
}

/**
* Style rows based on number of variants
**/

.variant-text .row {
  position: relative;
}

.variant-text .row.no-variants {
  background: #f5f5f5;
}

.variant-text .row.some-variants {
  background: #eae9e9;
}

.variant-text .row.many-variants {
  background: #dfdcdc;
}

.variant-text .row-number {
  position: absolute;
  left: -56px;
  top: 5px;
  text-align: right;
  width: 50px;
  font-size: 0.75em;
  color: #888;
}

/**
* Expand/shrink variants for text onclick
**/

.variant-text input[type='checkbox'] {
  display: none;
}

.variant-text .row-label {
  display: block;
  padding: 0 10px 2px;
}

.variant-text .row-label.has-variants {
  cursor: pointer;
}

.variant-text .row-label.has-variants:after {
  content: '+';
  position: absolute;
  right: 5px;
  font-size: 20px;
  color: #444;
  text-align: center;
  margin-top: -1px;
}

.variant-text input:checked ~ .row-label.has-variants:after {
  transform: scale(1.2) rotate(225deg);
  right: 6px;
}

.variant-text .row-variants {
  max-height: 0px;
  transition: max-height .1s;
  overflow: hidden;
}

.variant-text .row-variants:after {
  content: '';
  position: absolute;
  right: 0;
}

.variant-text input:checked ~ .row-variants {
  max-height: 100px;
  position: relative;
  width: 750px;
  background: #fff;
  box-sizing: border-box;
  border-right: 16px solid rgba(253, 216, 53, 0.4);
}

/**
* Style each variant row
**/

.variant-text .variant {
  padding: 0px 9px;
  background: #fff;
  border-left: 1px solid #efefef;
  position: relative;
}

.variant-text .variant:first-child {
  padding-top: 2px;
}

.variant-text .variant:last-child {
  padding-bottom: 4px;
}

.variant-text .variant div {
  display: inline-block;
}

/**
* Variant text citations
**/

.variant-text .citations {
  position: absolute;
  right: 0px;
  top: .25em;
}

.variant-text .citations a {
  color: #717171;
  text-decoration: none;
  font-size: 14px;
  vertical-align: top;
}

.variant-text .citations .lightbox-link {
  width: 17px;
  opacity: 0.6;
  margin-top: 1px;
}

.variant-text .citations .lightbox-link,
.variant-text .citations .footnote {
  margin-right: 5px;
}

.clear-both {
  clear: both;
}

/**
* Print page
**/

.print-page-title {
  font-size: 26px;
  color: #fff;
  margin: 50px 0 20px;
}

.print-page .print-image-container {
  width: 800px;
  display: inline-block;
  position: relative;
}

.print-page .print-image {
  max-width: 90%;
  max-height: 900px;
  padding: 50px 0;
  box-sizing: border-box;
}

.print-page .previous-page,
.print-page .next-page {
  position: absolute;
  top: 42%;
  width: 100px;
  background: rgba(0,0,0,0.5);
  cursor: pointer;
}

.print-page .previous-page {
  transform: rotate(270deg);
  left: 20px;
}

.print-page .next-page {
  transform: rotate(90deg);
  right: 20px;
}

.print-page .previous-page.disabled,
.print-page .next-page.disabled {
  pointer-events: none;
  opacity: 0.3;
}

/**
* Image lightbox
**/

.lightbox {
  display: none;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
}

.lightbox img {
  max-width: 90%;
  max-height: 80%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.lightbox:target {
  outline: none;
  display: block;
  width: 100%;
  height: 100%;
}

/**
* Cards
**/

.card {
  width: 350px;
  display: inline-block;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
  margin: 20px;
  text-align: left;
}

.card .card-image {
  display: block;
  height: 210px;
}

.card-body {
  margin: 14px;
  color: #444;
}

.card-title {
  font-size: 20px;
  margin-bottom: 5px;
}

.card-teaser {
  font-size: 14px;
  line-height: 1.4em;
}

.author-page .card-teaser {
  height: 97px;
  overflow: hidden;
}

.card .button {
  display: inline-block;
  margin-top: 15px;
  margin-right: 7px;
  padding: 5px 11px;
  font-size: 14px;
}

/**
* Custom selects
**/

.custom-select {
  padding: 6px;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: transparent;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  background-image: url({{ site.baseurl }}/assets/images/icons/caret-black-downward.png);
  background-repeat: no-repeat;
  background-position: 95%;
  background-size: 15px;
}