---
layout: default
---
{%- assign author = site.data.authors[page.author_id] -%}
{%- capture authors_route %}{{ site.baseurl }}/authors/{% endcapture -%}
{%- capture author_route %}{{ site.baseurl }}/authors/{{ author.last_name | downcase }}{% endcapture -%}
{%- capture authors_tag %}<a href={{ authors_route }}>Authors &rsaquo;</a>{% endcapture -%}
{%- capture author_tag %}<a href={{ author_route }}>{{ author.last_name }}</a>{% endcapture -%}
{%- capture breadcrumb_html %}{{ authors_tag }} {{ author_tag}}{% endcapture -%}
{% include header.html breadcrumb=breadcrumb_html %}
<div class='container'>
  <div class='author-page'>
    <div class='text-column'>
    {% include duotone.html %}
      <h1>{{ author.first_name }} {{ author.last_name }}</h1>
      <div class='author-headshot duotone background-image'
        style='background-image:url({{ author.image | prepend: site.baseurl }})'></div>
      <div class='author-teaser'>{{ author.bio }}</div>
    </div>
    <div class='card-container'>
      {% for text in site.data.texts %}
        {% if text.author_id == page.author_id %}
          {% assign image = text.cover_image | prepend: site.baseurl %}
          {% assign title = text.title %}
          {% assign teaser = text.teaser %}
          {% assign lastname = author.last_name | downcase %}
          {% assign text_id = text.text_id %}
          {% capture text_url %}/authors/{{ lastname }}/{{ text_id }}{% endcapture %}
          {% capture genetic_url %}{{ text_url }}/genetic.html{% endcapture %}
          {% capture diplomatic_url %}{{ text_url }}/diplomatic.html{% endcapture %}
          {% include card.html
            image=image
            title=title
            teaser=teaser
            grayscale=true
            href=genetic_url
            label='Read Variants'
            href_two=diplomatic_url
            label_two='Read Manuscript'
          %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class='push'></div>
</div>