---
layout: default
---
{% include breadcrumb_author.html %}
{% include header.html breadcrumb=breadcrumb_html %}
<div class='container'>
  <div class='author-page'>
    <div class='text-column'>
    {% include duotone.html %}
      <h1>{{ author.name }}</h1>
      <div class='intro-image duotone background-image'
        style='background-image:url({{ author.image | prepend: site.baseurl }})'></div>
      <div class='intro-teaser'>{{ author.bio }}</div>
    </div>
    <div class='card-container'>
      {% for text in site.data.texts %}
        {% if text.author_id == page.author_id %}
          {% assign image = text.cover_image | prepend: site.baseurl %}
          {% assign title = text.title %}
          {% assign teaser = text.teaser %}
          {% capture text_url %}/authors/{{ author.id  }}/{{ text.text_id }}{% endcapture %}
          {% capture text_index_url %}{{ text_url }}/index.html{% endcapture %}
          {% include card.html
            image=image
            title=title
            teaser=teaser
            grayscale=true
            href=text_index_url
            label='View Text'
          %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class='push'></div>
</div>