---
layout: default
---

{% assign author = site.data.authors[page.author_id] %}

<div class='container'>
  <div class='author-page'>
    <div class='text-column'>
    {% include duotone.html %}
      <h1>{{ author.first_name }} {{ author.last_name }}</h1>
      <div class='author-headshot duotone background-image'
        style='background-image:url({{ author.image }})'></div>
      <div class='author-teaser'>{{ author.bio }}</div>
    </div>
    <div class='card-container'>
      {%- for text in site.data.texts -%}
        {%- if text.author_id == page.author_id -%}
          {% assign image = text.cover_image %}
          {% assign title = text.title %}
          {% assign teaser = text.teaser %}
          {% capture url %}/texts/{{ author.last_name | downcase }}/{{ text.text_id }}{% endcapture %}
          {%- include card.html
            image=image
            title=title
            href=url
            label='Read Variants'
            teaser=teaser
            grayscale=true
          -%}
        {%- endif -%}
      {%- endfor -%}
    </div>
  </div>
  <div class='push'></div>
</div>